body {
  background-color: aqua;
}

.btn1 {
  margin-right: 20px;
}

.li1 {
  margin-top: 20px;
}

.form-control {
  display: inline-flex;
  width: 40%;

}

.container {
  margin-top: 1em;
  padding: 10px;
  width: 800px;
  /* min-height:  10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
div {
  display: flex;
  margin-bottom: 1em;
  margin-top: 0em;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  padding: 0em;
  padding-bottom: 1em;
  box-sizing: content-box;
}

.firstDiv {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}
